<div class="container	content">
    <div class="row">
        <div class="col-md-12">
            <span class="anchor" id="formLogin"></span>
            <!-- form	card	login	with	validation	feedback	-->
            <div class="card	card-outline-secondary">
                <div class="card-header">
                    <h3 class="mb-0 ">Maquina</h3>
                    <p class="lead">Digite la informacion de las maquinas disponibles para producir</p>
                </div>
                <div class="card-body">
                    <app-form-maquina (onItemAdded)="agregado($event)"></app-form-maquina>
                </div>
            </div>
        </div>
    </div>
    <hr class="mb-5">

    <div class="row">
        <ul class="list-inline">
            <app-maquinas *ngFor="let m of maquinas" [maquina]="m"></app-maquinas>
        </ul>
    </div>

</div>